<div class="fixed bottom-4 right-4 flex flex-col gap-3 z-50">
  <div
    *ngFor="let toast of toastService.toasts$ | async"
    class="toast"
    class="px-4 py-2 rounded-lg shadow-lg text-white flex justify-between items-center min-w-[200px]"
    [ngClass]="{
      'bg-green-600': toast.severity === ToastSeverity.success,
      'bg-yellow-500': toast.severity === ToastSeverity.warning,
      'bg-red-600': toast.severity === ToastSeverity.error
    }"
  >
    <span>{{ toast.message }}</span>
    <button
      class="ml-4 w-5 h-5 flex items-center justify-center text-white bg-white/10 rounded-full hover:bg-white/30 hover:scale-110 transition-all duration-200"
      (click)="close(toast.id)"
    >
      ✖
    </button>
  </div>
</div>
