@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


* {
  scrollbar-width: thin;       
  scrollbar-color: rgba(156,163,175,0.6) rgba(243,244,246,0.6); 
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(243,244,246,0.6);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(156,163,175,0.6);
  border-radius: 4px;
  border: 2px solid rgba(243,244,246,0.6);
}

.dark * {
  scrollbar-color: rgba(107,114,128,0.6) rgba(31,41,55,0.6);
}

.dark *::-webkit-scrollbar-track {
  background: rgba(31,41,55,0.6);
}

.dark *::-webkit-scrollbar-thumb {
  background-color: rgba(107,114,128,0.6);
  border: 2px solid rgba(31,41,55,0.6);
}
